	<script src="{{ site.rooturl }}{{ site.baseurl }}/resources/Moment/moment.min.js"></script>
	<link rel="stylesheet" href="{{ site.rooturl }}{{ site.baseurl }}/resources/DataTables/datatables.min.css">
	<link rel="stylesheet" href="{{ site.rooturl }}{{ site.baseurl }}/resources/results.min.css">
	<script src="{{ site.rooturl }}{{ site.baseurl }}/resources/DataTables/datatables.min.js"></script>
	<script src="{{ site.rooturl }}{{ site.baseurl }}/resources/DataTables/sorting-absolute.min.js"></script>
	<script src="{{ site.rooturl }}{{ site.baseurl }}/resources/pftiii_participant_table.min.js"></script>
