	<script src="{{ site.rooturl }}{{ site.baseurl }}/resources/plotly/htmlwidgets-1.5.3/htmlwidgets.js"></script>
	<script src="{{ site.rooturl }}{{ site.baseurl }}/resources/plotly/plotly-binding-4.10.1/plotly.js"></script>
	<script src="{{ site.rooturl }}{{ site.baseurl }}/resources/plotly/typedarray-0.1/typedarray.min.js"></script>
	<link href="{{ site.rooturl }}{{ site.baseurl }}/resources/plotly/crosstalk-1.1.1/css/crosstalk.css" rel="stylesheet">
	<script src="{{ site.rooturl }}{{ site.baseurl }}/resources/plotly/crosstalk-1.1.1/js/crosstalk.min.js"></script>
	<link href="{{ site.rooturl }}{{ site.baseurl }}/resources/plotly/plotly-htmlwidgets-css-2.11.1/plotly-htmlwidgets.css" rel="stylesheet">
	<script src="{{ site.rooturl }}{{ site.baseurl }}/resources/plotly/plotly-main-2.11.1/plotly-latest.min.js"></script>
